*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
}
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	background: #fff;
	color: #333;
	line-height: 1.6rem;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	color: #333;
	text-decoration: none;
}
h1,
h2 {
	line-height: 1.2;
}

img {
	width: 100%;
}

.header {
  background-image: url(/img/hero-bridge.jpg);
  background-position: center;
  height: 100vh;
  position: relative;
}

.heading{
  background-color:#000000;
  color: white;
}
.headding__primary{
  font-family: 'nunito', sans-serif;
  padding: 2rem 6rem;
  
}
.headding-primary--main{
  display: block;
  font-size: 2vw;
  text-align: right;
  padding-bottom: 2rem;
}

.headding-primary--sub{
  font-size: 8vw;
  letter-spacing: 3rem;
  text-indent: 3rem;
  text-transform: uppercase;
}

.nav-links{
  padding-bottom: 2rem;
  text-transform: uppercase;
}

ul{
  display: flex;
  justify-content: center;
}

ul li{
  margin-right: 2rem;
}

ul li a {
  color: white;
}
.gallery{
  display: flex;
}
.photo-box{
  position: relative;
  width: 50%;
}

.picture{
  display: block;
  width: 100%;
  height: auto;
}
.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff94;;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.photo-box:hover .overlay{
  bottom: 0;
  height: 100%;
}

.title {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1rem;
  font-size: 2vw;
}

.footer{
  background-color: black;
  color: white;
}
.footer__text {
  display: block;
  padding: 3rem ;
text-align: center;
letter-spacing: .3rem;
}
/* .py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.btn {
  display: inline-block;
  background: #5eb6b6;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
}
.page-body {
  position: absolute;
}
.intro {
  /* padding-bottom: 1.5rem; */
  animation: moveLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
/* @keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.text-secondary {
  color: #5eb6b6;
}
.text-white {
  color: #fff;
}
.container {
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.411);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: 15px;
  z-index: 1;
}
#navbar .logo {
  position: absolute;
  left: 1.5rem;
  color: #fff;
}
#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem;
}

#hero {
  background-image: url(./img/hero.jpg);
  background-position: center;
  height: 95vh;
  position: relative;
  /* margin-top: -57px; */
}

#hero .text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  /* position: absolute; */
  /* top: 65px; */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#hero .text-box p {
  /* font-size: 2rem; */
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

#hero h2 {
  color: #fff;
  font-size: 2.4rem;
}
#about {
  padding: 11rem 4rem;
}
#about .title-container {
  /* font-size: 1.8rem; */
  margin: auto;
  text-align: center;
}
#about .items {
  display: flex;
}
#who {
  display: flex;
}
#who .who-img {
  background-image: url(./img/nat-1-large.jpg);
  width: 50vw;
  height: 60vh;
}

#who .who-text-box {
  background-color: #5eb6b6;
  width: 50vw;
  height: 60vh;
}
#contact {
  min-height: 20rem;
} */ */
