@media only screen and (max-width: 500px) {
  body {
    background-color: rebeccapurple;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
  }
  #about .items {
    flex-direction: column;
  }
}
